@import "@zyplot/core-tailwind-config";
@source "../../../packages";

html {
	background: var(--color-surface-base);
	color: var(--color-content-primary);
	color-scheme: light;
	font-family: var(--font-inter);
	scroll-behavior: smooth;
}

html.dark {
	color-scheme: dark;
}
